:root {
  --primary-gray-blur-border: rgba(138, 140, 138, 0.5);
  --primary-dark: #1f203b;
  --primary-gray: #8a8c9a;
  --primary-light: #ebecfc;
  --primary-red: #d82525;
  --primary-green: #21a326;
  --sub-light: #f9faff;
}

* {
  font-family: 'BM JUA', sans-serif;
}

header {
  /* position: absolute;
  top: 0; */
  font-size: 36px;
  padding: 20px 0;
  width: 360px;
  text-align: center;
  border: 1px solid var(--primary-gray-blur-border);
}
